body {
    margin: 0;
    padding: 0;
    /* background-image: url("../images/layered-peaks-haikei.jpeg"); */
    background-color: #dad7cd;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#generator_container {
    width: 400px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #588157;
}

figure {
    border: 2px #a3b18a solid;
    border-radius: 50px;
    box-shadow: 5px 5px #a3b18a;
    padding: 5px;
    margin: auto;
    background-color: #588157;
}

figcaption {
    background-color: #344e41;
    color: #dad7cd;
    font-style: italic;
    padding: 2px;
    text-align: center;

    border-radius: 0px 0px 50px 50px;

}

#character_image {
    width: 100%;
    border-radius: 50px 50px 0px 0px;
}

#button-area {
    text-align: center;
    margin: 20px;
}

/* CSS */
.button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #3a5a40;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #dad7cd;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

/* Less than 400px */
@media screen and (max-width: 400px) {
    #generator_container {
        width: 85%;
        margin: auto;
    }
  }