body {
    margin: 0;
    padding: 0;
    /* background-image: url("../images/layered-peaks-haikei.jpeg"); */
    background-color: #0c78b7;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#generator_container {
    width: 30%;
    margin: auto;
}

h1 {
    text-align: center;
    color: aquamarine;
}

figure {
    border: 2px #cccccc solid;
    padding: 4px;
    margin: auto;
}

figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

#character_image {
    width: 100%;
}

#button-area {
    text-align: center;
    margin: 20px;
}